/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Material css overrides */
.card{
    opacity: 0.9;
    -moz-opacity: 0.9;
    color: #000;
}

/*
TODO: Text size using vw?
*/

html {
    font-family: 'Titillium Web', sans-serif;
}

body{
    background: #bbdefb url("../img/bg.png");
}

h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
}

h5, h6{
    font-weight: 600;
}

h1{ /* TODO: responsive */

    font-size: 4.6rem;
    line-height: 4rem;
}

p{
    text-align: justify;
}

h1 .lg{ /* TODO: responsive */
    font-size: 12rem;
    line-height: 8.6rem;
    float: left;
}

h1+hr{ /* TODO: responsive */

}

header nav a{
    text-transform: uppercase;
}

section.about{
    position: relative;
}

section.about .bar{
    background-color: #ffebee;
    border-bottom: 1px solid #a2c0d9;
}

section.about .bar > .container > .row{
    margin-bottom: 5px;
}

.about-scenery{
    position: relative;
    z-index: 5;
}

.about-vertical-line1{
    position: absolute;
    top: -38px;
    left: 15px;
    width: 27px;
    height: 100px;
    z-index: 1;
    display: block;
    background-color: #000;
}

.about-vertical-line2{
    position: absolute;
    /*top: -38px;
    left: 15px;
    width: 27px;
    height: 719px;*/
    width: 27px;
    height: 100%;
    left: 15px;
    bottom: -87px;
    z-index: 1;
    display: block;
    background-color: #000;
}

.cloud{
    position: absolute;
    background: url("../img/cloud-1.svg") 0 0 no-repeat;
    background-size: contain;
}

.cloud-rev{
    position: absolute;
    background: url("../img/cloud-2.svg") 0 0 no-repeat;
    background-size: contain;
}

.cloud1{ /* TODO: responsive */
    width: 323px;
    height: 190px;
    top: -132px;
    right: -100px;
}

.cloud2{ /* TODO: responsive */
    width: 485px;
    height: 268px;
    top: -20px;
    left: 27%;
    z-index: 7;
}

.cloud3{ /* TODO: responsive */
    width: 168px;
    height: 93px;
    top: -70px;
    left: -5%;
    z-index: 6;
}

.plant-white{
    position: absolute;
    background: url("../img/plant-swirl-white.svg") no-repeat;
}

.plant-white-rev{
    position: absolute;
    background: url("../img/plant-swirl-white2.svg") no-repeat;
}

.plant-white1{
    width: 101px;
    height: 232px;
    bottom: -140px;
    right: -80px;
}

.plant-white2{
    width: 30px;
    height: 161px;
    bottom: -160px;
    left: -80px;
}

.plant-white3{
    width: 50px;
    height: 181px;
    bottom: -150px;
    left: 150px;
}

.plant-white4{
    width: 35px;
    height: 166px;
    bottom: -150px;
    left: 120px;
}

.plant-white5{
    width: 50px;
    height: 181px;
    bottom: -160px;
    right: 0px;
}

.plant-white6{
    width: 50px;
    height: 181px;
    bottom: -140px;
    right: -90px;
}

.me-pic{ /* TODO: responsive */
    position: absolute;
    top: -90px;
    left: -110px;
    z-index: 2;
    background-image: url("../img/me.png");
    background-repeat: no-repeat;
    width: 469px;
    height: 284px;
}

.about-text{
    position: relative;
    z-index: 10;
}

.contact-box{
    position: relative;
    z-index: 30;
    margin-top: 220px;
    background-color: #fff;
    border: 1px solid #a2c0d9;
}

.contact-box .input-field{
    margin-top: 0;
    margin-bottom: 0;
}

.mountain{ /* TODO: responsive */
    position: absolute;
    bottom: -100px;
    right: 0px;
    background: url("../img/mountain.svg") 0 0 no-repeat;
    background-size: contain;
    width: 312px;
    height: 220px;
}

section.site{
    position: relative;
    border-style: solid;
    border-width: 25px 0 0 0;
    border-image: url("../img/water-top.png") 25 stretch;
    background-clip: padding-box;
    color: #fff;
}

section.site > .bg{
    background: #1148a2 url("../img/bg-site.jpg") repeat-x;
    background-size: contain;

    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#07136e), to(#1148a2));

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #1148a2, #07136e);

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #1148a2, #07136e);

    /* IE 10 */
    background: -ms-linear-gradient(top, #1148a2, #07136e);

    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #1148a2, #07136e);
}
section.site .ripples{
    position: relative;
    background: url("../img/water-shading.png") repeat-x;
}

.water-floor{
    position: absolute;
    bottom: -300px;
    right: 0;
    width: 100vmax;
    height: 446px;
    background: url("../img/water-bottom.png") repeat-x;
}

.water-scenery{
    position: absolute;
    z-index: 9;
    width: 100vmax;
    height: 100%;
    right: 0;
}

.water-floor-sign{
    position: absolute;
    bottom: 50px;
    left: 8%;
    width: 145px;
    height: 68px;
    background: url("../img/water-small-sign.png") repeat-x;
}

.water-floor-items{
    position: absolute;
    bottom: 30px;
    left: 32vw;
    width: 457px;
    height: 242px;
    background: url("../img/water-bottom-items.png") repeat-x;
}

section.site .container{
    background: transparent url("../img/castle.png") 30% bottom no-repeat;
    background-size: auto 80%;
    min-height: 1000px;
}

section.site .row:last-child{
    padding-bottom: 240px;
}

section.site h1,
section.projects h1{ /* TODO: responsive */
    color: #fff;
}

section.site h1 + p{
    margin-top: 35px;
}

section.projects{
    position: relative;
    color: #fff;

    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bbdefb), to(#1148a2));

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #1148a2, #bbdefb);

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #1148a2, #bbdefb);

    /* IE 10 */
    background: -ms-linear-gradient(top, #1148a2, #bbdefb);

    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #1148a2, #bbdefb);
}

section.projects h1+hr+p{
    padding-left: 130px;
}

section.projects .container{
    padding-top: 210px;
}

.vine-top{ /* TODO: responsive */
    background: url("../img/vine-top.png") 35vw 0 no-repeat;
}

.vine-repeat{ /* TODO: responsive */
    background: url("../img/vine-repeat.png") 35vw 0 repeat-y;
}

.vine-base{ /* TODO: responsive */ /* TODO: adjust bottom to avoid cutoff flower as needed */
    width: 100%;
    height: 510px;
    margin-top: -55px;
    background: url("../img/vine-base.png") 35vw 0 no-repeat;
}

.vine-landscape{ /* TODO: responsive */
    position: relative;
    z-index: 2;
    margin-top: -200px; /** TODO: Lower this for smaller browser widths */
    width: 100%;
    height: 629px;
    background: url("../img/vine-landscape.png") no-repeat;
    background-size: cover;
}

.vine-landscape-gradient{
    position: absolute;
    z-index: 1;
    bottom: 300px;
    height: 40rem;
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,000000+100&0+25,1+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(191,191,191,0) 25%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(191,191,191,0) 25%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(191,191,191,0) 25%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.projects-listing{
    margin-top: 0;
    height: 3000px;
}

.projects-listing .gocoop .z-depth-1{
    color: #000;
    background-color: #fff;
    padding: 0.82rem 0.75rem;
    border: 1px solid #a2c0d9;
}

.projects-listing .z-depth-1 p{
    margin-top: 0;
    margin-bottom: 0;
}

.projects-listing .card{
    margin-top: 10rem;
}

.projects-listing .gocoop{ /* TODO: responsive */
    /*width: 521px;*/
    /*height: 286px;*/
    position: relative;
    height: 23vw;
    max-height: 286px;
    min-height: 150px;
    background: transparent url("../img/projects-gocoop.png") 30vw no-repeat;
    background-size: contain;
}

.projects-listing .gocoop p{
    position: absolute;
    top: 24%;
    width: 27vw;
    opacity: 0.9;
    -moz-opacity: 0.9;
    font-size: 1.8vw;
}

section.game{
    background: #000;
    color: #fdd835;
}

section.game h1{ /* TODO: responsive */
    color: #fdd835;
}

section.game h1+hr{
    border-top-color: #fdd835;
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
